@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-image {
background-image: url('./canoe-map.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;

z-index: -1;
}

.work-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
z-index: 1;
}

.flex-container {
    margin: 0;
    display: flex;
    font-family: 'Raleway', Arial, sans-serif;
    z-index: 1;
}


.card-flight {
position: relative;
width: 600px;
height: 400px;
display: flex;
align-items: center;
border-radius: 20px;
z-index: 1;
background-color: white;
padding: 25px 25px;
}


#butt, #butts {
    color: white;
    padding: 5px 10px;
    background: #EE691B;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    margin-top: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

ul {
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

a.nav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #EE691B;
    position: relative;
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
}

ul li a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}

ul li a:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #EE691B;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}

ul li a:hover:before {
    width: 50%;
    transform: translateX(100%);
}

ul li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flight-container {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    z-index: 1;
}
.content-flight{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    color: #EE691B;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#map {
    height: 600px;
    width: 100%;
}


.card:hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-content {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.map-container {
    height: 500px;

}

.closeBtn {
    color: #EE691B;
    float: right;
    font-size: 30px;
}

.closteBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.list-group-item-1{
    background-color: #EE691B;
    color: white;
}

a.card-link.flights{
    text-decoration: none;
    background-color: #EE691B;
    padding: 15px 15px;
    border-radius: 15px;
    color: white;
}

#canoe-img{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}



